<html>
 <head>
 <title>CRUD Cliente</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insertCliente">Inserir novo</a> | <a href="readCliente">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Nome</td>
     <th>E-mail</td>
     <th>Endereço</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="cliente : ${clientes}">
     <td th:text="${cliente.id}"></td>
     <td th:text="${cliente.name}"></td>
     <td th:text="${cliente.email}"></td>
     <td th:text="${cliente.endereco}"></td>
     <td><a th:href="@{/deleteCliente(id=${cliente.id})}">Deletar</a></td>
     <td><a th:href="@{/updateCliente(id=${cliente.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>