<html>
 <head>
 <title>CRUD Emprestimo</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insertEmprestimo">Inserir novo</a> | <a href="readEmprestimo">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Funcionário ID</td>
     <th>Cliente ID</td>
     <th>Obra ID</td>
     <th>Devolução</td>
     <th>Status</td>
     <th>Multa</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="emprestimo : ${emprestimos}">
     <td th:text="${emprestimo.id}"></td>
     <td th:text="${emprestimo.fId}"></td>
     <td th:text="${emprestimo.cId}"></td>
     <td th:text="${emprestimo.oId}"></td>
     <td th:text="${emprestimo.devolucao}"></td>
     <td th:text="${emprestimo.status}"></td>
     <td th:text="${emprestimo.multa}"></td>
     <td><a th:href="@{/deleteEmprestimo(id=${emprestimo.id})}">Deletar</a></td>
     <td><a th:href="@{/updateEmprestimo(id=${emprestimo.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>