<html>
 <head>
 <title>CRUD Funcionario</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insertFuncionario">Inserir novo</a> | <a href="readFuncionario">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Nome</td>
     <th>E-mail</td>
     <th>Endereço</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="funcionario : ${funcionarios}">
     <td th:text="${funcionario.id}"></td>
     <td th:text="${funcionario.name}"></td>
     <td th:text="${funcionario.email}"></td>
     <td th:text="${funcionario.endereco}"></td>
     <td><a th:href="@{/deleteFuncionario(id=${funcionario.id})}">Deletar</a></td>
     <td><a th:href="@{/updateFuncionario(id=${funcionario.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>