<html>
 <head>
 <title>CRUD Obra</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insertObra">Inserir novo</a> | <a href="readObra">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Nome</td>
     <th>Tipo</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="obra : ${obras}">
     <td th:text="${obra.id}"></td>
     <td th:text="${obra.name}"></td>
     <td th:text="${obra.tipo}"></td>
     <td><a th:href="@{/deleteObra(id=${obra.id})}">Deletar</a></td>
     <td><a th:href="@{/updateObra(id=${obra.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>