
<html>
<head>
<title>Ver todos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:each="emprestimo : ${emprestimos}">
	<span th:text="${'ID: ' + emprestimo.id}"></span>
	<br>
	<span th:text="${'Funcionário ID: ' + emprestimo.fId}"></span>
	<br>
	<span th:text="${'Cliente ID: ' + emprestimo.cId}"></span>
	<br>
	<span th:text="${'Obra ID: ' + emprestimo.oId}"></span>
	<br>
	<span th:text="${'Devolução: ' + emprestimo.devolucao}"></span>
	<br>
	<span th:text="${'Status: ' + emprestimo.status}"></span>
	<br>
	<span th:text="${'Multa: ' + emprestimo.multa}"></span>
	<br>

	<br>
	<br>
</body>
</html>