
<html>
 <head>
 <title>Ver todos</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body th:each="cliente : ${clientes}">
 <span th:text="${'ID: ' + cliente.id}"></span><br>
 <span th:text="${'Nome: ' + cliente.name}"></span><br>
 <span th:text="${'Email: ' + cliente.email}"></span><br>
 <span th:text="${'Endereco: ' + cliente.endereco}"></span><br>
 <br>
 <br>
 </body>
</html>