
<html>
 <head>
 <title>Ver todos</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body th:each="funcionario : ${funcionarios}">
 <span th:text="${'ID: ' + funcionario.id}"></span><br>
 <span th:text="${'Nome: ' + funcionario.name}"></span><br>
 <span th:text="${'Email: ' + funcionario.email}"></span><br>
 <span th:text="${'Endereco: ' + funcionario.endereco}"></span><br>
 <br>
 <br>
 </body>
</html>