
<html>
 <head>
 <title>Ver todos</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body th:each="obra : ${obras}">
 <span th:text="${'ID: ' + obra.id}"></span><br>
 <span th:text="${'Nome: ' + obra.name}"></span><br>
 <span th:text="${'Tipo: ' + obra.tipo}"></span><br>
 <br>
 <br>
 </body>
</html>